<link rel="shortcut icon" type="image/x-icon" href="https://vmasc-odu.github.io/Virginia-Philosophy-Reality-Lab/Images/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://vmasc-odu.github.io/Virginia-Philosophy-Reality-Lab/Images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://vmasc-odu.github.io/Virginia-Philosophy-Reality-Lab/Images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://vmasc-odu.github.io/Virginia-Philosophy-Reality-Lab/Images/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">